.bg-Account {
  background-color: rgb(161, 167, 167);
}

.bg-container{
  background-color: #AFF4C6;
  
}

.bg-container-medical{
  background-color: #AFF4C6;
  height: 100vh;
}

.text-color-HumanCare {
  color: #AFF4C6;
}

.imagen-humancare {
  background-image: url(../img/Fondo-HumanCare.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  z-index: -1;
}

.invisible {
  width: 60px; /* Ajusta el ancho del espacio en blanco según tus necesidades */
}

.invisible01 {
  width: 150px; /* Ajusta el ancho del espacio en blanco según tus necesidades */
}

.invisible0 {
  width: 50px; /* Ajusta el ancho del espacio en blanco según tus necesidades */
}

.invisible1 {
  width: 300px; /* Ajusta el ancho del espacio en blanco según tus necesidades */
}

.invisible2 {
  width: 600px; /* Ajusta el ancho del espacio en blanco según tus necesidades */
}